
<nav class="navbar navbar-default">
<center>
<h3><%= link_to "Login",new_user_path %></h3>
</center>
</nav>


<center>
<h1>There are about <%= @users.count %> users</h1>
<div class="container">
<table class="table">

	<thead>
	<tr>
		<td>Name</td>
        <td>Email</td>
       <!-- <td>Show</td> -->
        </tr>
	</thead>

	<tbody>
		<% @users.each do |u| %>
		<tr>
		<td><%= u.name %></td>
		<td><%= u.email %></td>
	<!--	<td><a href="/users/<%= u.id %>">Profile</td> -->
		</tr>
		<% end %>
		</div>
		
	</tbody>
</table>
</div>
</center>
</body>
</html>