<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My School</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Events <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">contacts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  
<center>
<div class="container">       
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA2hh7kXxcVcfCy8v4RerxCMuTsecg-w_VlvDEG3UQTdYwOjWu" class="img-rounded" alt="stannes" width="300" height="244"> 
</div>
</center>




<% if flash[:errors] %>
<% flash[:errors].each do|e| %>
<p><%= e %></p>
<% end %>
<% end %>
<h3><%= link_to "Home",users_path %></h3>
<div class="row">
<div id="registration" class="col-md-6">
<h1> Register </h1>
<%= form_for @user do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name %>
 <br />
  <%= f.label :email %>
 <span class="glyphicon glyphicon-envelope">
 <%= f.email_field :email %>
</span>
 <br />
  <%= f.label :password %>
 <%= f.password_field :password %>
 <br />
  <%= f.label :password_confirmation %>
 <%= f.password_field :password_confirmation %>
 <br />
 <%= f.submit %>
	<% end %>
	</div>
<div id="login" class="col-md-6">
	<h1>login </h1>
	<%= form_tag sessions_path do %>
	<%=label_tag :email %>
 <%= email_field_tag :email %>
 <br />
  <%= label_tag :password %>
 <%= password_field_tag :password %>
 <br />
 <%= submit_tag "sign in" %>
 <% end %>
 <br>
 </div>
	</body>
</html>