<% if flash[:errors] %>
<% flash[:errors].each do|e| %>
<p><%= e %></p>
<% end %>
<% end %>
<h3><%= link_to "Home",home_index_path %></h3>
<div class="row">
<div id="registration" class="col-md-6">
<h1> Register </h1>
<%= form_for @user do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name %>
 <br />
  <%= f.label :email %>
 <span class="glyphicon glyphicon-envelope">
 <%= f.email_field :email %>
</span>
 <br />
  <%= f.label :password %>
 <%= f.password_field :password %>
 <br />
  <%= f.label :password_confirmation %>
 <%= f.password_field :password_confirmation %>
 <br />
 <%= f.submit :signup %>
	<% end %>
	</div>

<div id="login" class="col-md-6">
	<h1>login </h1>
	<%= form_tag sessions_path do %>
	<%=label_tag :email %>
 <%= email_field_tag :email %>
 <br />
  <%= label_tag :password %>
 <%= password_field_tag :password %>
 <br />
 <%= submit_tag "login" %>
 <% end %>
 <br>
 </div>
	</body>
</html>