<% provide(:title, "register and login") %>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">St.Anne's</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/developers/index">Developers</a></li>
        <li><a href="#">Contacts</a></li> 
        <li><a href="/users">Users</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/users/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<% if flash[:errors] %>
<div class="row">
<% flash[:errors].each do|e| %>
<p class="text-danger"><%= e %></p>
<% end %>
</div>
<% end %>

<div class="row">
<div id="registration" class="col-md-6">
<div id="box">
<h1 id="register"> Register </h1>

<%= form_for @user do |f| %>
<div class="form-group">
 <%= f.label :name %>
 <%= f.text_field :name %>
 </div>

 <div class="form-group">
  <%= f.label :email %>
 <%= f.email_field :email %>
 </div>

<div class="form-group">
  <%= f.label :password %>
 <%= f.password_field :password %>
 </div>

 <div class="form-group">
  <%= f.label :password_confirmation %>
 <%= f.password_field :password_confirmation %>
 </div>

 <div class="form-group">
 <div id="submit">
 <%= f.submit :signup %>
 </div>
 </div>

  <% end %>
  </div>
</div>

  
  <div id="login" class="col-md-6">
  <h1 id="heading">login </h1>

  <%= form_tag sessions_path do %>
<div class="form-group">
 <%=label_tag :email %>
 <%= email_field_tag :email %>
 </div>

 <div class="form-group">
  <%= label_tag :password %>
 <%= password_field_tag :password %>
 </div>

 <div class="form-group">
 <div id="submit">
 <%= submit_tag "login" %>
 </div>
 </div>
 
  
 <% end %>

 </div>



  
