
<center>

<% if flash[:errors] %>
<p> <% flash[:errors].each do |err| %></p>
<p> <%= err %> </p>
<% end %>
<% end %>



<%= form_for @posts do |f| %>
<%= f.label :Filename %>
<%= f.text_field :name %>
<br> 
<%= f.label :file %>
<%= f.file_field :attachment %>
<br>
<%= f.submit "Save" %>
<% end %>
</center>