<% provide(:title ,"Upload files") %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">St.Anne's</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <a class="navbar-brand" href="/users/:id">Profile</a>
        <li><a href="/posts"><b>posts</b></a></li> 
         
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>




<center>

<% if flash[:errors] %>
<p> <% flash[:errors].each do |err| %></p>
<div class="row">
<p class="text-danger"> <%= err %> </p>
<% end %>
<% end %>



<%= form_for @posts do |f| %>
<%= f.label :Filename %>
<%= f.text_field :name %>
<br> 
<%= f.label :file %>
<%= f.file_field :attachment %>
<br>
<%= f.submit "Save" %>
<% end %>
</center>